<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="facility">

<select id="list" parameterType="map" resultType="map">

select seq,facilityNo,
date_format(runingTime,'%Y-%m-%d %H:%i') as runingTime,e_number,reference,catalog,endingTime 
from facility where facilityNo=#{facilityNo} and runingTime  between #{startDay} and #{endDay}
order by runingTime


</select>

<insert id="insert" parameterType="map">
insert into facility(facilityNo,runingTime,e_number,reference,catalog,endingTime) values(#{facilityNo},#{runingTime},#{e_number},#{reference},#{catalog},#{endingTime})
</insert>

<select id="Detail" parameterType="int" resultType="map">
select seq,facilityNo,
date_format(runingTime,'%Y-%m-%d %H:%i') as runingTime,e_number,reference,catalog,endingTime 
from facility where seq=#{seq}
</select>

<delete id="delete">
delete from facility where seq=#{seq};
</delete>

<update id="update" parameterType="map" >
update facility set runingTime=#{runingTime},reference=#{reference},catalog=#{catalog},endingTime=#{endingTime} where seq =#{seq}
</update>

</mapper>