<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">

<select id="list" parameterType="map" resultType="map">
select seq, title,date_format(T_dateTime,'%Y-%m-%d') as T_dateTime,date_format(T_endTime,'%Y-%m-%d') as T_endTime,state,referenceFile from todo
 where 
 <if test='searchType=="null"'>
 state != '対応済' and
 </if>
 <if test='searchType!="null" and searchType=="day" and searchTxt !="null"'>
 state != '対応済' and
 T_dateTime <![CDATA[<=]]> #{searchTxt} 
 and T_endTime <![CDATA[>=]]> #{searchTxt} and
 </if>
  <if test='searchType!="null" and searchType=="content" and searchTxt !="null"'>
  state != '対応済' and
content like CONCAT('%', #{searchTxt}, '%') and
 </if>
   <if test='searchType!="null" and searchType=="title" and searchTxt !="null"'>
   state != '対応済' and
title like CONCAT('%', #{searchTxt}, '%') and
 </if>
 
 <if test='searchType!="" and searchType=="state" and searchTxt !=""'>
  state like CONCAT('%', #{searchTxt}, '%') and
 </if>
 e_number=#{e_number}
 </select>

<select id="detail" resultType="map" parameterType="int">
select seq,title,content,referenceFile,date_format(T_dateTime,'%Y-%m-%d') as T_dateTime,date_format(T_endTime,'%Y-%m-%d') as T_endTime,
e_number,state,realFileName
from todo where seq=#{seq}
</select>

<insert id="insert" parameterType="map">
insert into todo (title,content,T_dateTime,T_endTime,state,e_number,referenceFile,realFileName) values(#{title},#{content},#{T_dateTime},#{T_endTime},#{state},#{e_number},
<if test="referenceFile!=null">#{referenceFile},#{realFileName}</if><if test="referenceFile==null">null,null</if>)
</insert>

<delete id="delete" parameterType="integer">
delete from todo where seq in (<foreach collection="list" item="checked" separator=",">#{checked}</foreach>)
</delete>

<select id="fileDelete" parameterType="integer" resultType="String">
select referenceFile from todo where seq in (<foreach collection="list" item="checked" separator=",">#{checked}</foreach>)
</select>

<update id="update" >
update todo set title=#{title},content=#{content},T_dateTime=#{T_dateTime},T_endTime=#{T_endTime},state=#{state}
<if test="referenceFile!=null">,referenceFile=#{referenceFile},realFileName=#{realFileName}</if>
<if test='state.equals("対応済")'>,realEndTime=now()</if>
where seq=#{seq}

</update>

<select id="progress" parameterType="int" resultType="map">
select count(seq) from todo where e_number=#{e_number} and state != '対応済'
</select>

<select id="yearWork" parameterType="int" resultType="map">
select 
count(case when realEndTime<![CDATA[>=]]>'2022-01-01'and realEndTime<![CDATA[<=]]>'2022-01-31' THEN 1 END) as 'Jan',
count(case when realEndTime<![CDATA[>=]]>'2022-02-01'and realEndTime<![CDATA[<=]]>'2022-02-28' THEN 1 END) as 'Feb',
count(case when realEndTime<![CDATA[>=]]>'2022-03-01'and realEndTime<![CDATA[<=]]>'2022-03-31' THEN 1 END) as 'Mar',
count(case when realEndTime<![CDATA[>=]]>'2022-04-01'and realEndTime<![CDATA[<=]]>'2022-04-30' THEN 1 END) as 'Apr',
count(case when realEndTime<![CDATA[>=]]>'2022-05-01'and realEndTime<![CDATA[<=]]>'2022-05-31' THEN 1 END) as 'May',
count(case when realEndTime<![CDATA[>=]]>'2022-06-01'and realEndTime<![CDATA[<=]]>'2022-06-30' THEN 1 END) as 'Jun',
count(case when realEndTime<![CDATA[>=]]>'2022-07-01'and realEndTime<![CDATA[<=]]>'2022-07-31' THEN 1 END) as 'Jul',
count(case when realEndTime<![CDATA[>=]]>'2022-08-01'and realEndTime<![CDATA[<=]]>'2022-08-31' THEN 1 END) as 'Aug',
count(case when realEndTime<![CDATA[>=]]>'2022-09-01'and realEndTime<![CDATA[<=]]>'2022-09-30' THEN 1 END) as 'Sep',
count(case when realEndTime<![CDATA[>=]]>'2022-10-01'and realEndTime<![CDATA[<=]]>'2022-10-31' THEN 1 END) as 'Oct',
count(case when realEndTime<![CDATA[>=]]>'2022-11-01'and realEndTime<![CDATA[<=]]>'2022-11-30' THEN 1 END) as 'Nov',
count(case when realEndTime<![CDATA[>=]]>'2022-12-01'and realEndTime<![CDATA[<=]]>'2022-12-31' THEN 1 END) as 'Dec'
 from todo where state='対応済' and e_number =#{e_number}
</select>

</mapper>