<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">

<select id="list" parameterType="map" resultType="map">
select seq, title,date_format(T_dateTime,'%Y-%m-%d') as T_dateTime,date_format(T_endTime,'%Y-%m-%d') as T_endTime,state,referenceFile from todo
 where 
 <if test='searchType=="null"'>
 state != '対応済' and
 </if>
 <if test='searchType!="null" and searchType=="day" and searchTxt !="null"'>
 state != '対応済' and
 T_dateTime <![CDATA[<=]]> #{searchTxt} 
 and T_endTime <![CDATA[>=]]> #{searchTxt} and
 </if>
  <if test='searchType!="null" and searchType=="content" and searchTxt !="null"'>
  state != '対応済' and
content like CONCAT('%', #{searchTxt}, '%') and
 </if>
   <if test='searchType!="null" and searchType=="title" and searchTxt !="null"'>
   state != '対応済' and
title like CONCAT('%', #{searchTxt}, '%') and
 </if>
 
 <if test='searchType!="" and searchType=="state" and searchTxt !=""'>
  state like CONCAT('%', #{searchTxt}, '%') and
 </if>
 e_number=#{e_number}
 </select>

<select id="detail" resultType="map" parameterType="int">
select seq,title,content,referenceFile,date_format(T_dateTime,'%Y-%m-%d') as T_dateTime,date_format(T_endTime,'%Y-%m-%d') as T_endTime,
e_number,state,realFileName
from todo where seq=#{seq}
</select>

<insert id="insert" parameterType="map">
insert into todo (title,content,T_dateTime,T_endTime,state,e_number,referenceFile,realFileName) values(#{title},#{content},#{T_dateTime},#{T_endTime},#{state},#{e_number},
<if test="referenceFile!=null">#{referenceFile},#{realFileName}</if><if test="referenceFile==null">null,null</if>)
</insert>

<delete id="delete" parameterType="integer">
delete from todo where seq in (<foreach collection="list" item="checked" separator=",">#{checked}</foreach>)
</delete>

<select id="fileDelete" parameterType="integer" resultType="String">
select referenceFile from todo where seq in (<foreach collection="list" item="checked" separator=",">#{checked}</foreach>)
</select>

<update id="update">
update todo set title=#{title},content=#{content},T_dateTime=#{T_dateTime},T_endTime=#{T_endTime},state=#{state}
<if test="referenceFile!=null">,referenceFile=#{referenceFile},realFileName=#{realFileName}</if>
where seq=#{seq}

</update>

<select id="progress" parameterType="int" resultType="map">
select count(seq) from todo where e_number=#{e_number} and state != '対応済'
</select>

</mapper>